.hero .hero-img,
.bottom-hero .hero-img {
  width: 100%;
  height: 400px;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .bottom-hero .hero-img {
    height: 600px;
    width: 100%;
  }

  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 620px;
  }

  .hero .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .bottom-hero .hero-img {
    height: 600px;
  }

  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 620px;
  }

  .hero .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 600px;
  }
}
