.payments .image-galerry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  width: 100%;
}

.payments .content-container .content-text {
  margin-bottom: 24px;
}

.payments .content-container .image-galerry .image.bag {
  background: url(../img/payments-bags.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-galerry .image.passport {
  background: url(../img/payments-passport.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-galerry .image.people {
  background: url(../img/payments-people.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-galerry .image.colspan-2 {
  grid-column: span 2;
}

.payments.pacotes .button {
  width: 100%;
}

.payments.pacotes a {
  margin: 10px auto 40px;
}

.payments.pacotes .content-container .text-content .content-title.pacotes {
  font-size: 40px;
}

.payments.pacotes .content-container .image-galerry.pacotes .image.temple {
  background: url(../img/payments-pacotes-temple.jpg) no-repeat;
  background-size: cover;
}

.payments.pacotes .content-container .image-galerry.pacotes .image.building {
  background: url(../img/payments-pacotes-buiding.jpg) no-repeat;
  background-size: cover;
}

.payments.pacotes .content-container .image-galerry.pacotes .image.person {
  background: url(../img/payments-pacotes-person.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-galerry .image.bag {
    background: url(../img/payments-bags-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-galerry .image.passport {
    background: url(../img/payments-passport-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-galerry .image.people {
    background: url(../img/payments-people-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-galerry {
    width: 790px;
  }
}
